.form {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
    border-left: 1px solid;
    height: 90vh;
}

.inputFile {
    display: none;
}

.fileUpload {
    border: 2px var(--main-color) solid;
    border-radius: 5px;
    cursor: pointer;
    padding: 0.5rem;
    color: var(--main-color);
}

.fileUpload:hover,
.submitButton:hover {
    background-color: var(--main-color);
    color: white;
}

.fileLabel {
    font-size: 0.8rem;
}

.submitButton {
    background: none;
    border: 2px var(--main-color) solid;
    border-radius: 5px;
    color: var(--main-color);
    cursor: pointer;
    font-size: 0.8rem;

    padding: 0.5rem 1rem;

    margin-top: 1rem;
}

.sliderLabel {
    margin-top: 1rem;
    text-align: left;
    font-size: 0.8rem;
}

.slider {
    width: 100%;
    height: 25px;
    background: var(--main-color);
    opacity: 0.7;
    transition: opacity .2s;
}

.labelsContainer {
    height: 100%;
    margin-top: 1rem;
    overflow-y: auto;
}

.labels {
    padding: 0.5rem;
    border-bottom: 1px var(--main-color) solid;
}